@import url('https://fonts.cdnfonts.com/css/fira-mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-family: 'Fira Mono', sans-serif;
}

.container {
    width: 100%;
    min-height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box_1 {
    background-color: whitesmoke;
    width: 400px;
    min-height: 350px;
    height: fit-content;
    margin: 20px;
    border: 2px solid black;
}

.matrix {
    min-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#box_2, #box_3, #box_4, #box_5 {
    width: 400px;
    min-height: 350px;
    height: fit-content;
    margin: 20px;
    border: 2px solid black;
    display: flex;
    place-content: start;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#box_2 {
    background-color: #c9ee82;
}

#box_3 {
    background-color: #eedd82;
}

#box_4 {
    background-color: #8293ee;
}

#box_5 {
    background-color: #eea782;
}

.createButton {
    background-color: white; /*#b9d8d5*/
    border-radius: 10px;
    border: none;
    margin: 5px auto auto 5px;
    position: relative;
    user-select: none;
}

.createButton img {
    display: block;
    width: 30px;
    height: 30px;
}

.list_item {
    background-color: white;
    height: 50px;
    margin: 15px 15px 15px 30px;
    color: black;
    display: flex;
    align-items: center;
    cursor: grab;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 280px;
}

.list_item input[type=textarea] {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: none;
    margin-left: 10px;
    padding: 10px 5px;
    width: 210px;
    
}

.list_item input[type=textarea]::placeholder {
    color: black;
    font-weight: bold;
    opacity: 0.85;
}

.delButt {
    margin: 0 15px 0 auto;
    background-color: #e8e8e8;
    border: none;
    border-radius: 15px;
    position: relative;
    padding: 5px 6px 2px 6px;
}

.delButt img {
    display: inline-flex;
    margin: 0;
    height: 20px;
    width: 20px;
}